version: '3'
services:
  #授权服务
  mogu_admin:
    image: registry.cn-beijing.aliyuncs.com/mufeng_blog/mogu_admin:latest
    container_name: mogu_admin
    restart: always
    ports:
      - 8601:8601
      - 8082:8082
    networks:
      - mogu
    environment:
      - COMPOSE_PROJECT_NAME=mogu_admin
    volumes:
      - ../log/:/logs/
      - ../config/mogu_admin/:/config/
      - ../mysql_backup:/tmp/mysql_backup/
networks:
  mogu:
    external: true
